@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* ==== RESET ==== */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", "Segoe UI", system-ui, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: var(--bg-color);
  color: var(--text-color);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

button,
input,
select,
textarea {
  font: inherit;
  background: none;
  border: none;
  outline: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

[hidden] {
  display: none !important;
}
