@use "sass:color";

.card {
  border-radius: 3rem;
  margin-bottom: 3rem;
  background-color: color.adjust(#000, $lightness: 90%);
  box-shadow: 0 4px 8px rgba(0, 255, 21, 0.3);
  font-size: 1.4rem;

  &__image {
    border-radius: 3rem 3rem 0 0;
  }
  &__title {
    background-color: var(--accent-color);
    display: inline-block;
    font-size: 1.8rem;
    margin: 3rem 0 0 2rem;
    padding: 0.4rem 2rem;
    border-radius: 3rem;
    color: var(--bg-color);
  }
  &__description {
    padding: 2rem;
  }
}
@media (min-width: 650px) {
  .card {
    max-width: 30%;
    margin: 0 auto;
    flex: 1 1 30%;
    border-radius: 1rem;

    &__image {
      border-radius: 1rem 1rem 0 0;
      height: 40%;
      object-fit: cover;
      width: 100%;
    }
    &__content {
      height: 90%;
      overflow: hidden;
    }
    &__title {
      margin-top: 2rem;
      border-radius: 0.8rem;
      font-size: 1.6rem;
    }
    &__desciption {
      padding: 1rem;
    }
  }
}
