@use "sass:color";

.nav {
  height: 6.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  border-bottom: 2px solid var(--border-color);

  &__logo {
    font-size: 1.4rem;

    img {
      display: none;
    }
  }
  a {
    color: var(--accent-color);
  }

  &__button {
    font-size: 2.4rem;
  }
  &__list {
    background-color: color.adjust(green, $lightness: -5%);
    position: absolute;
    top: 6.4rem;
    right: 0;
    border: 2px solid var(--border-color);
    border-radius: 0.8rem 0 0 0.8rem;
    width: 40%;
    display: none;
    z-index: 1;

    &--show {
      display: block;
    }
  }
  &__item {
    border-bottom: 1px solid var(--accent-color);

    padding: 0.8rem 1.2rem;
    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: color.adjust(green, $lightness: 5%);
      .nav__link {
        color: var(--bg-color);
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__link {
    font-weight: 600;
  }
}
@media (min-width: 720px) {
  .nav {
    &__button {
      display: none;
    }
    &__logo {
      font-size: 1.8rem;

      img {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        margin: 0 1rem;
      }
    }
    a {
      color: var(--accent-color);
    }
    &__list {
      background-color: transparent;
      position: inherit;
      display: flex;
      width: auto;
      gap: 0.2rem;
      top: 0;
      border: 0;
    }
    &__item {
      border-bottom: none;
    }
  }
}
