.partners {
  padding: 2rem 1rem;
  text-align: center;
  background-color: #f9f9f9;

  &__title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: var(--link-color);
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    align-items: center;
    justify-items: center;
  }

  &__logo-box {
    padding: 1rem;
    background: #fff;
    border-radius: 0.75rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 180px;
    width: 100%;
  }

  &__logo {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .center {
    color: var(--link-color);
  }
  @media (min-width: 650px) {
    &__grid {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      max-width: 900px;
      margin: 0 auto;
    }
  }
}
